.contenedor-testimonio{
width: auto;
justify-items: center;
justify-content: center;
margin: 10px;
border-radius: 5%;
border: 1px solid gray;
}
.imagen{
    width: auto;
    height: 100%;
}
.contenedor-texto{
    margin: 15px;
}